<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{#if style}}
          <link rel='stylesheet' href='/stylesheets/style2.css' />
      {{else}}
          <link rel='stylesheet' href='/stylesheets/style.css' />
      {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
