<body>
<h1>Neue Notiz</h1>
    <form  id="new_form" action='/' method='post'>

            <div class="new_content">
                <p> Titel </p>
                <input type="text" name='title' placeholder='Titel' required>
            </div>


            <div class="new_content">
                <p>Beschreibung</p>
                <textarea type="text" name='description' placeholder='Beschreibung' required></textarea>
            </div>

            <div class="new_content">
                <p>Wichtigkeit</p>
                <input pattern="[1-5]" name="importance" placeholder="1-5" required>
            </div>


            <div class="new_content">
                <p>Fertig bis</p>
                <input pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" name='finishedTill' placeholder='dd.mm.yyyy' required>
            </div>

            <div class="new_options">
                <input name='finished' type="checkbox" value="on">
                <p>Erledigt!</p>
            </div>


            <div class="new_options">
                <input type='submit' value='Speichern'>

                <form action='/' method='get'><input id="new_cancel" type='submit' value='Abbrechen'></form>
            </div>

    </form>



</body>