<html>
<h1>Neue Notiz</h1>
<form action='/' method='post'>
    <dt>
        <dd>
            Titel
            <input name='title' placeholder='title Note'>
        </dd>
        <dd>
            Beschreibung
            <input name='description' placeholder='description'>
        </dd>
        <dd>
            Wichtigkeit
            <input name='importance' placeholder='importance'>
        </dd>
        <dd>
            Fertig bis
            <input name='finishedTill' placeholder='finishedTill'>
        </dd>
        <dd>
            <input type='submit' value='Speichern'>
        </dd>
    </dt>
</form>
<form action='/' method='get'><input type='submit' value='Abbrechen'></form>

</html>