/*
index
*/

#index_newnote_styleswitch{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.index_order{
    width: 120px;
}

section{
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid  gray;
    margin-bottom: 5px;
    padding: 5px;
}

.index_star{
    width: 100px;
}

.index_space{
    flex:1;
}

.title_space{
    padding-left: 10px;
}

.index_section_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.index_section_content{
    width: 100%;
    display: flex;
    flex-flow: column;
}

.index_textarea{
    height: 50px;
    margin-bottom: 5px;
}

.index_edit{
    width: 100%;
}

.index_check{
    margin-bottom: 10px;
}

/*
new
*/

.new_content{
    display:flex;
    flex-direction: column;
}

#new_form{
    display: flex;
    flex-direction: column;
}

.new_options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#new_cancel{
    margin-left:5px;
}

@media (min-width: 450px)
{
    #index_sort{
        display: flex;
        justify-content: flex-start;
    }

    section{
        border:none;
        padding:0;
    }

    .index_section_header{
        width: 100%;
        flex-direction: row;
    }

    .index_section_content{
        flex-direction: row;

    }

    .index_textarea{
        width: 100%;
        margin-left: 50px;
        margin-right: 10px;
    }

    .index_edit{
       height: 100%;
        width: 120px;
    }

    form{
        display: flex;
    }

    .index_title_space{
        padding-left: 50px;
    }
    .index_star {
        margin-right: 125px;
    }

    .new_content{
        flex-direction: row;
        margin-bottom: 5px;

    }
    .new_content p{
        width:150px;
        text-align: right;
        margin:0px;
    }
    .new_content input, textarea{
        margin-left: 10px;
        width: 100%;
    }

    .new_options{
        margin-left: 130px;
    }


}




